/* layer 0 */
html,
body,
#header,
#wrapper,
#content,
.comment-odd-depth,
.comment-even-depth ~ .indented,
textarea {
  color: #EEE !important;
  background-color: #161F2E !important;
}

/* layer 1 */
.node,
#above_comments,
#block-user-login, #block-block-35, .user-block, #block-main-login,
#comments,
#comment-area,
.comment-even-depth,
.comment-odd-depth ~ .indented,
#rightbottom_sidebar,
#footer {
  background-color: #202B41 !important;
  color: #EEE !important;
  border: none !important;
}

/* layer 2 */
.user-block .user-header,
.user-block .user-header h2,
.user-block .signout,
.node .content-title-box,
.node .content-title-box a,
#comments h2.title {
  color: #EEE !important;
  background-color: #434A5C !important;
  border: none !important;
}

/* top menu */
#main-menu-links a {
  color: #FFF !important;
}

/* meta */
.node .meta .username,
.comment-form label {
  color: #EEE !important;
}
.node .meta .submitted {
  background-color: #424A5F !important;
  border: none !important;
}

/* horizontal line */
.node .news-info,
#page-sharing { border-top-color: #374258 !important; }
hr, a.jobs-item { border-bottom-color: #374258 !important; }

/* link */
/*
.node .content a,
.node .terms a,
.node .news-info a,
.comment-content a,
.comment-form a,
.company-name,
#breadcrumb a,
#rightbottom_sidebar .block a {
*/
a {
  color: #BDCEE9 !important;
}

/* sub-text */
.comment-target,
.company-brief,
.jobs-region {
  color: #919191 !important;
}

/* img */
img {
  filter: brightness(.8) contrast(1.2) !important;
}

/* blockquote */
blockquote {
  background-color: #FFFFFF1A !important;
  border-color: #FFFFFF1A !important;
}

/* paging */
.item-list .pager li {
  background: none !important;
}
.item-list .pager li a,
.item-list .pager li.pager-ellipsis {
  color: #BDCEE9 !important;
}
.item-list .pager li.pager-current {
  background-color: #BDCEE9 !important;
  color: #424A5F !important;
}
